body {
    background-image: url("./bg.png");
}

.postkarte {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.banderole {
    position: absolute;
    left: 371px;
    top: 277px;
}

.video {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block; }