body {
    background-image: url(bg.png);
}

img {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.shell {
    position: absolute;
    top: 70%;
    left: 34%;
}

.penguin {
    position:absolute;
    right: 33%;
    top: 63%;
}
h1 {
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    position: absolute;
    left: 560px;
    top: 250px;
    box-sizing: content-box;
    width: 400px;
}

p {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    position: absolute;
    left: 560px;
    top: 320px;
    box-sizing: content-box;
    width: 400px;
    text-align: left;
}
